body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #222;
}

.options {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

input[type="radio"] {
  display: none;
}

label {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #ccc;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s,
    box-shadow 0.3s;
}

input[type="radio"]:checked + label {
  color: var(--color);
  border-color: currentColor;
  box-shadow: 0 0 10px currentColor, 0 0 20px currentColor, 0 0 30px currentColor;
}

label:hover,
input[type="radio"]:checked + label:hover {
  color: var(--color);
  border-color: currentColor;
  box-shadow: 0 0 10px currentColor, 0 0 20px currentColor, 0 0 30px currentColor,
    0 0 40px currentColor, 0 0 50px currentColor;
}

label:hover {
  color: var(--color);
  border-color: currentColor;
  box-shadow: 0 0 10px currentColor, 0 0 20px currentColor, 0 0 30px currentColor;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Estilos gerais -  cod para resoluções de tela  */
    h1 {
      font-size: 3em;
      margin-bottom: 20px;
    }
    p {
      font-size: 1.2em;
      line-height: 1.5;
    }
    /* Estilos para telas grandes */
    @media (min-width: 992px) {
      .container {
        max-width: 960px;
      }
      h1 {
        font-size: 4em;
        margin-bottom: 30px;
      }
      p {
        font-size: 1.5em;
        line-height: 1.7;
      }
    }
    /* Estilos para telas médias */
    @media (max-width: 991px) {
      .container {
        max-width: 720px;
      }
      h1 {
        font-size: 3.5em;
        margin-bottom: 25px;
      }
      p {
        font-size: 1.3em;
        line-height: 1.6;
      }
    }
    /* Estilos para telas pequenas */
    @media (max-width: 767px) {
      .container {
        max-width: 100%;
      }
      h1 {
        font-size: 3em;
        margin-bottom: 20px;
      }
      p {
        font-size: 1.2em;
        line-height: 1.5;
      }
    }

     /* fim  */
